package.json.bak
FirstApp-win32-x64/chrome_100_percent.pak
FirstApp-win32-x64/chrome_200_percent.pak
FirstApp-win32-x64/d3dcompiler_47.dll
FirstApp-win32-x64/dxcompiler.dll
FirstApp-win32-x64/dxil.dll
FirstApp-win32-x64/ffmpeg.dll
FirstApp-win32-x64/FirstApp.exe
FirstApp-win32-x64/icudtl.dat
FirstApp-win32-x64/libEGL.dll
FirstApp-win32-x64/libGLESv2.dll
FirstApp-win32-x64/LICENSE
FirstApp-win32-x64/LICENSES.chromium.html
FirstApp-win32-x64/resources.pak
FirstApp-win32-x64/snapshot_blob.bin
FirstApp-win32-x64/v8_context_snapshot.bin
FirstApp-win32-x64/version
FirstApp-win32-x64/vk_swiftshader_icd.json
FirstApp-win32-x64/vk_swiftshader.dll
FirstApp-win32-x64/vulkan-1.dll
FirstApp-win32-x64/locales/af.pak
FirstApp-win32-x64/locales/am.pak
FirstApp-win32-x64/locales/ar.pak
FirstApp-win32-x64/locales/bg.pak
FirstApp-win32-x64/locales/bn.pak
FirstApp-win32-x64/locales/ca.pak
FirstApp-win32-x64/locales/cs.pak
FirstApp-win32-x64/locales/da.pak
FirstApp-win32-x64/locales/de.pak
FirstApp-win32-x64/locales/el.pak
FirstApp-win32-x64/locales/en-GB.pak
FirstApp-win32-x64/locales/en-US.pak
FirstApp-win32-x64/locales/es-419.pak
FirstApp-win32-x64/locales/es.pak
FirstApp-win32-x64/locales/et.pak
FirstApp-win32-x64/locales/fa.pak
FirstApp-win32-x64/locales/fi.pak
FirstApp-win32-x64/locales/fil.pak
FirstApp-win32-x64/locales/fr.pak
FirstApp-win32-x64/locales/gu.pak
FirstApp-win32-x64/locales/he.pak
FirstApp-win32-x64/locales/hi.pak
FirstApp-win32-x64/locales/hr.pak
FirstApp-win32-x64/locales/hu.pak
FirstApp-win32-x64/locales/id.pak
FirstApp-win32-x64/locales/it.pak
FirstApp-win32-x64/locales/ja.pak
FirstApp-win32-x64/locales/kn.pak
FirstApp-win32-x64/locales/ko.pak
FirstApp-win32-x64/locales/lt.pak
FirstApp-win32-x64/locales/lv.pak
FirstApp-win32-x64/locales/ml.pak
FirstApp-win32-x64/locales/mr.pak
FirstApp-win32-x64/locales/ms.pak
FirstApp-win32-x64/locales/nb.pak
FirstApp-win32-x64/locales/nl.pak
FirstApp-win32-x64/locales/pl.pak
FirstApp-win32-x64/locales/pt-BR.pak
FirstApp-win32-x64/locales/pt-PT.pak
FirstApp-win32-x64/locales/ro.pak
FirstApp-win32-x64/locales/ru.pak
FirstApp-win32-x64/locales/sk.pak
FirstApp-win32-x64/locales/sl.pak
FirstApp-win32-x64/locales/sr.pak
FirstApp-win32-x64/locales/sv.pak
FirstApp-win32-x64/locales/sw.pak
FirstApp-win32-x64/locales/ta.pak
FirstApp-win32-x64/locales/te.pak
FirstApp-win32-x64/locales/th.pak
FirstApp-win32-x64/locales/tr.pak
FirstApp-win32-x64/locales/uk.pak
FirstApp-win32-x64/locales/ur.pak
FirstApp-win32-x64/locales/vi.pak
FirstApp-win32-x64/locales/zh-CN.pak
FirstApp-win32-x64/locales/zh-TW.pak
FirstApp-win32-x64/resources/app/index.html
FirstApp-win32-x64/resources/app/main.js
FirstApp-win32-x64/resources/app/package.json
node_modules/
